# prevent raw chunks from being fetched
<FilesMatch "\.[0-9]+$">
	Order allow,deny
	Deny from all
	Satisfy All
</FilesMatch>

# simple mod_rewrite example
# use define('GET_PREFIX', 'dl/') in constants.php with this
#<IfModule mod_rewrite>
#	RewriteEngine on
#	RewriteRule ^dl/(.+)$ get.php?f=$1
#</IfModule>
